DISCORD_BOT_TOKEN=replace_me
DISCORD_GUILD_ID=1474405047679848643
DISCORD_BOT_ID=1482017269092716645
DISCORD_DAILY_HIGHLIGHTS_CHANNEL_ID=1482427993140760636
DISCORD_MARKET_WATCH_CHANNEL_ID=1482020924298362912
DISCORD_ANNOUNCEMENTS_CHANNEL_ID=1482020877146263594
DISCORD_EDUCATION_CATEGORY_ID=1482020931483471952
FORGE_SITE_URL=https://forge-futures.com
FORGE_DISCORD_INVITE_URL=https://discord.gg/KQSQRgMZZB
FORGE_ICON_URL=https://forge-futures.com/favicon.png
TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_CHAT_ID=replace_me
